*{
    box-sizing: border-box;
}

body 
{
    font-family: "Sedan", serif;
    font-size: large;
    font-weight: bold;
}
.p{
    padding: 60px;
}
.bg1 
{
	margin:0;
	padding:0;
    background-color: #f7edf9;
}
.bg2
{
    background-color: #dac4d3;
    color:rgb(0, 0, 0);
}
.bg3
{
    background-color: rgb(203, 202, 200);
    margin: 50px; 
    padding: 30px;
}
.bg4
{
    background-color: #736f65;
    padding-top: 70px;
}
.bg5
{
    background-color: rgb(203, 202, 200);
}

.f
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.t
{
    font-weight: bolder;
    color:rgb(112, 54, 167);
}

.sp 
{
    margin-bottom: 2em; 
}

.img
{
    margin-top: 30px;
}

.a{
    margin-top: 90px;
}
h1
{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 30px;
}

h3
{
    color: rgb(81, 65, 77);
    font-family: "Sedan", serif;
    font-size:x-large;
    font-weight: bold;text-decoration: underline;
}
dt
{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}

.card-text
{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}
/* .card-text1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
} */

x{
    color: rgb(81, 65, 77);
    font-family: "Sedan", serif;
    font-size: large;
}
.card
{
    background-color: #E1E1E1;
    width: 70%; 
    margin: auto; 
}


